<div class="col-md-8 blog-main">
  <h2 class="pb-4 mb-4 font-italic border-bottom">
    <%= @topic.title %>
  </h2>
  <%= paginate @blogs %>
  <%= render @blogs %>

  <%= paginate @blogs %>

</div><!-- /.blog-main -->